{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Grace Eletrônicos </title>
  <link rel="icon" type="image/x-icon" href="{% static 'myapp/images/faviconLoja.png' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/styles.css' %}">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>


  <nav class="navbar navbar-expand-lg">
    <div class="elem-direita">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'myapp/images/logoLoja.png' %}" width="220" height="100" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="cart">
      <a href="{% url 'carrinho' %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="#5cd85a" class="bi bi-cart"
          viewBox="0 0 16 16">
          <path
            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
        </svg>
      </a>
    </div>
  </nav>



  <div class="container">
    <h1 style="color:antiquewhite; margin:3%;">{{ produto.nome }}</h1>

    <div class="produto-dets">
      {% if produto.imagem %}
      <div class="imagem-prod">
        <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}"> 
      </div>
      {% endif %}
      <div class="info-body">
        <p class="product-price">R${{ produto.preco }}</p>
        <p class="product-description">{{produto.descricao}}</p>
        <a href="{% url 'adicionar_ao_carrinho' produto.id %}" class="btn-comprar">Adicionar ao carrinho</a>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>

</html>